.wrapper{
    position: relative;
    height: 500px;
    width: 500px;
    border: 10px solid black;
    margin: auto;
}

.snake{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color:cornflowerblue;
}

.modal{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}


